{% extends "index/master.html" %}


{% block title %} EJIC home{% endblock %}


{% block content %}
<div class="body_content">
    <div class="form_container">
        <h2> Reset password</h2>
        <form action="" method="post"> {% csrf_token %}
            <div class="input-group">
                <input type="password" name="old_password" placeholder="old password" >
            </div>
            <div class="input-group">
                <input type="password" name="new_password" placeholder="new password" >
            </div>
            <div class="input-group">
                <input type="password" name="confirm_password" placeholder="confirm password" >
            </div>
          
          
        <button type="submit">Reset</button>
        </form>
        
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <script>
  
            alert("{{ message }}");
  
        </script>
    {% endfor %}
{% endif %}
  
{% endblock %}
